html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  color: #ffba08;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ffba08;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #999999;
  opacity: 1;
}
